<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DIAPERS.diaper_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.DIAPERS.diaper_project.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.DIAPERS.diaper_project.OrgInfoActivity" />
        <activity android:name="com.DIAPERS.diaper_project.IntroduceActivity" />
        <activity android:name="com.DIAPERS.diaper_project.ManagerActivity" />
        <activity android:name="com.DIAPERS.diaper_project.ServiceActivity" />
        <activity android:name="com.DIAPERS.diaper_project.NewsActivity" />
        <activity android:name="com.DIAPERS.diaper_project.EtcActivity" />
        <activity android:name="com.DIAPERS.diaper_project.CntinfoActivity" />
        <activity android:name="com.DIAPERS.diaper_project.UserinfoActivity" />
        <activity android:name="com.DIAPERS.diaper_project.LogModifyActivity" />
        <activity android:name="com.DIAPERS.diaper_project.StatisticActivity" />
        <activity android:name="com.DIAPERS.diaper_project.CntAddActivity" />
        <activity android:name="com.DIAPERS.diaper_project.MainActivity">
        </activity>
        <activity android:name="com.DIAPERS.diaper_project.LoginActivity" />
        <activity android:name="com.DIAPERS.diaper_project.SignUpActivity" />
    </application>

</manifest>